/* You can add global styles to this file, and also import other style files */
.search-input {
    padding: 8px;
    margin-right: 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }